body{
    background-color: rgb(133, 179, 137);
    text-align: center;
    margin-left: 25%;
    max-width: 50vw;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 500px;
    border-radius: 45%;
}
p{
   color: rgb(147, 31, 109);
   font-weight: 600;
   text-align: center;
}
ul {
    list-style-type: none;
    text-align: center;
    
}
h1 {
    color: rgb(221, 133, 131);
    background-color: rgb(77, 25, 87);
    border-radius: 30%;
}
h2, h4 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.list {
    text-align: justify ;
   list-style-type: square;
}